.homeTextContainer{
margin-top: 8rem;
margin-bottom: 8rem;
text-align: center;
justify-content: center;
align-items: center;


}


.typing-container {
  font-size: 1.rem;
  font-family: Arial, sans-serif;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

.typing-container .typing-text {
  display: inline;
  font-size: 3rem;
  font-family: Arial, sans-serif;
}

.typing-container .cursor {
  display: inline-block;
  width: 0.6rem;
  height:4rem;
  background-color: rgb(255, 255, 255);
  margin-left: 0.5vw;
  animation: blink 0.7s steps(1) infinite;
  vertical-align: bottom;
}

@keyframes blink {

  0%,
  50% {
    opacity: 1;
  }

  50.1%,
  100% {
    opacity: 0;
  }
}
.carosoul-container{
 padding: 10px;
  align-items: center;
  justify-content: center;
}
.carousel {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  width: 100%;
  
}

.carousel-images {
  position: relative;
  width: 100%;
  border-radius: 20px;
}

.carousel-images img {
  object-fit: cover;
  border-radius: 20px;
  width: 100%;
  height: auto;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0.8);
  /* Smaller at first */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  /* Add scaling animation */
}

.carousel-images img.active {
  opacity: 1;
  transform: scale(1);
  /* Scale up when active */
  position: relative;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 30px 15px;
  cursor: pointer;
  
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.dots {
  text-align: center;
  margin-top: 10px;
}

.dots span {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  display: inline-block;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
 
}

.dots .active-dot {
  background-color: #0897da;
 
  transform: scale(1.3);

}

