/* Animation container */
.animation-container {
  position: relative;
  width: 100%;
  height: 400px; /* You can change this height */
  overflow: hidden;
  background-color: #000; /* Space background */
}

/* Box of stars */
.box-of-stars {
  width: 100%;
  height: 700px; /* Height for star animation */
  position: absolute;
  left: 0;
  top: 0;
}

/* Stars falling */
@keyframes snow {
  0% {
      opacity: 0;
      transform: translateY(0);
  }

  20% {
      opacity: 1;
  }

  100% {
      opacity: 1;
      transform: translateY(650px);
  }
}

.box-of-stars .star {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #FFF;
  position: absolute;
  opacity: 0.7;
  animation: snow 5s linear infinite;
}

.star-position1 { top: 30px; left: 20px; animation-delay: 0s; }
.star-position2 { top: 110px; left: 250px; animation-delay: -1.64s; }
.star-position3 { top: 60px; left: 570px; animation-delay: -2.30s; }
.star-position4 { top: 120px; left: 900px; animation-delay: -3.30s; }
.star-position5 { top: 20px; left: 1120px; animation-delay: -0.80s; }
.star-position6 { top: 90px; left: 1280px; animation-delay: -1.30s; }
.star-position7 { top: 30px; left: 1480px; animation-delay: -2.00s; }

/* Astronaut */
.astronaut {
  width: 250px;
  height: 300px;
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 125px);
  animation: astronaut 5s linear infinite;
}

@keyframes astronaut {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/* Astronaut body parts */
.schoolbag {
  width: 100px;
  height: 150px;
  position: absolute;
  background-color: #94b7ca;
  border-radius: 50px 50px 0 0 / 30px 30px 0 0;
  top: calc(50% - 75px);
  left: calc(50% - 50px);
}

.head {
  width: 97px;
  height: 80px;
  background: -webkit-linear-gradient(left, #e3e8eb 0%, #e3e8eb 50%, #fbfdfa 50%, #fbfdfa 100%);
  border-radius: 50%;
  position: absolute;
  top: 34px;
  left: calc(50% - 47.5px);
}

.body {
  width: 85px;
  height: 100px;
  background-color: #fffbff;
  border-radius: 40px / 20px;
  position: absolute;
  top: 105px;
  left: calc(50% - 41px);
  background: -webkit-linear-gradient(left, #e3e8eb 0%, #e3e8eb 50%, #fbfdfa 50%, #fbfdfa 100%);
}

.panel {
  width: 60px;
  height: 40px;
  position: absolute;
  top: 20px;
  left: calc(50% - 30px);
  background-color: #b7cceb;
}

.arm {
  width: 80px;
  height: 30px;
  position: absolute;
  top: 121px;
}

.arm-left {
  left: 30px;
  background-color: #e3e8eb;
  border-radius: 0 0 0 39px;
}

.arm-right {
  right: 30px;
  background-color: #fbfdfa;
  border-radius: 0 0 39px 0;
}

.leg {
  width: 30px;
  height: 40px;
  position: absolute;
  bottom: 70px;
}

.leg-left {
  left: 76px;
  background-color: #e3e8eb;
  transform: rotate(20deg);
}

.leg-right {
  right: 73px;
  background-color: #fbfdfa;
  transform: rotate(-20deg);
}

/* Responsive Design */
@media (max-width: 768px) {
  .animation-container {
      height: 300px;
  }

  .astronaut {
      width: 150px;
      height: 200px;
  }
}
